main {
    color: hsl(0, 0%, 100%, 0.75);
    display: flex;
}

div {
    width: 200px;
    height: 500px;
    display: inline-block;
    margin-left: -4px;
}

h1 {
    margin: 20px auto 20px 10px;
}

p {
    text-align: center;
}

img {
    margin: 50px auto auto 10px;
    }

.sedan {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);    
}

.luxo {
    background-color: hsl(179, 100%, 13%);    
}

h1 {
    color: hsl(0, 0%, 100%, 0.75)
}

p {
    color: hsl(0, 0%, 95%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsla(0, 0%, 2%, 0.959);
}

.attribution a { 
    color: hsl(327, 88%, 50%); 
}